/* Sidebar.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(90deg, rgb(28, 27, 27), rgb(26, 23, 23));
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    min-height: 100vh;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 85px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(170, 89, 89, 0.2);
    padding: 6px 10px;
    transition: .5s;
    overflow: hidden;
  }
  
  .sidebar.active {
    width: 240px;
  }
  
  .sidebar .logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    
  }
  
  .sidebar .logo-menu .logo {
    font-size: 25px;
    color: rgb(0, 255, 229);
    opacity: 0;
    transition-delay: .3s;
  }
  
  .sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
  }
  
  .sidebar .logo-menu .toggle-btn {
    cursor: pointer;
    font-size: 22px;
    color: rgb(0, 255, 229);
  }
  
  .sidebar .list {
    margin-top: 10px;
    padding: auto;
  }
  
  .list .list-item {
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 5px 0;
    line-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: background .3s;
  }
  
  .list .list-item a {
    display: flex;
    align-items: center;
    color: rgb(0, 255, 229);
    text-decoration: none;
    border-radius: 6px;
    gap: 15px;
    white-space: nowrap;
    padding-right: 15px;
  }
  
  .list .list-item.active a,
  .list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
  }
  
  .list .list-item a i {
    font-size: 24px;
  }
  
  .sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }
  
  .sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
  }
  
  .sidebar .link-name {
    margin-left: 10px;
    flex: 1;
  }
  